---
import MainLayout from '@layouts/MainLayout.astro';
import BlogHero from './blog/components/BlogHero.astro';
import BlogGrid from './blog/components/BlogGrid.astro';
import { useTranslations } from '@i18n/utils';

const lang = 'en';
const t = useTranslations(lang);
---

<MainLayout title={`${t('blog.title')} | Sebastian Georgian Utoiu`} lang={lang}>
  <section class="bg-white py-20">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <BlogHero lang={lang} />
      <BlogGrid lang={lang} />
    </div>
  </section>
</MainLayout>
