---
import MainLayout from '@layouts/MainLayout.astro';
import ProjectsHero from './projects/components/ProjectsHero.astro';
import FilterButtons from './projects/components/FilterButtons.astro';
import ProjectsGrid from './projects/components/ProjectsGrid.astro';
import { useTranslations } from '@i18n/utils';

const lang = 'en';
const t = useTranslations(lang);
---

<MainLayout title={`${t('projects.title')} | Sebastian Georgian Utoiu`} lang={lang}>
  <section class="bg-white py-20 dark:bg-black">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <ProjectsHero lang={lang} />
      <FilterButtons lang={lang} />
      <ProjectsGrid lang={lang} />
    </div>
  </section>
</MainLayout>
