---
import MainLayout from '@layouts/MainLayout.astro';
import ProjectsHero from '../projects/components/ProjectsHero.astro';
import ProjectsGrid from '../projects/components/ProjectsGrid.astro';
import FilterButtons from '../projects/components/FilterButtons.astro';
import { languages, type Language } from '@i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const { lang } = Astro.params as { lang: Language };
---

<MainLayout lang={lang}>
  <ProjectsHero lang={lang} />
  <section class="bg-white py-16 dark:bg-black">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <FilterButtons lang={lang} />
      <ProjectsGrid lang={lang} />
    </div>
  </section>
</MainLayout>
